{% extends 'base.html.twig' %}

{% block title %}ANDROID APP - INSALLTION DU PROJET{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>ANDROID APP - INSALLTION DU PROJET</h1>

    <ul>
        <li><code><a href="/android_app_realease_1_0/app-release.apk">Télécharger l’apk de l'application en cliquant ici</a></code></li>
         <li><code>Allez dans les paramètres, puis Applications > Accès spéciaux des applis </code></li>
         <li><code>Cliquez sur "Installation d'applis inconnues"</code></li>
         <li><code>Sélectionnez votre explorateur de fichier : "Files by Google" par exemple </code></li>
         <li><code>Allez dans votre explorateur de fichier ("Files") puis dans  "Téléchargements"</code></li>
         <li><code>Lancez le fichier APK et suivez les instructions </code></li>
    </ul>
</div>
{% endblock %}
