{% extends 'base.html.twig' %}

{% block title %}ACCUEIL - PROJETS EAF SLAM{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Projet BTS SIO SLAM 2022 v.{{ version }}</h1>

    <ul>
        <li><code><a href="/api">API REST Swagger de gestion des stocks ({{ number_products }} produits)</a></code></li>
        <li><code><a href="{{ url_react_admin_app }}">Client javascript REACT pour gérer les stocks</a></code></li>
        <li><code><a href="/android_app">Application Android pour réaliser un inventaire</a></code></li>
    </ul>
</div>
{% endblock %}
